.form__field-wrapper {
  margin: 0 0 16px;

  .label {
    display: block;
    color: #636d74;
    margin: 0 0 4px;
  }

  .field {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #636d74;
    background-color: transparent;
    border-radius: 8px;
    font-size: 16px;
    text-indent: 20px;
    font-family: "ProximaNovaBold", sans-serif;
    color: white;
    outline: none;
  }

  .select {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #636d74;
    background-color: transparent;
    border-radius: 8px;
    font-size: 16px;
    text-indent: 20px;
    font-family: "ProximaNovaBold", sans-serif;
    color: white;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../images/dist/chevron-bottom.svg") no-repeat right 12px
      center;
  }

  select option {
    background: #0b0f12;
    color: #fff;
  }

  .textarea {
    display: block;
    width: 100%;
    border: 1px solid #636d74;
    background-color: transparent;
    border-radius: 8px;
    font-size: 16px;
    text-indent: 20px;
    font-family: "ProximaNovaBold", sans-serif;
    color: white;
    outline: none;
    appearance: none;
    padding: 20px 12px;
    resize: none;
    overflow-y: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.form__avatar {
  position: relative;
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border: 1px solid #00df73;
  border-radius: 8px;
  margin: 40px auto 12px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  input[type="file"] {
    display: none;
  }

  .percent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    color: #fff;
  }
}

.btn-upload.is-loading {
  pointer-events: none;
  opacity: 0.7;
}

/* Общая обертка */
.custom-checkbox,
.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.3;
  user-select: none;
  margin: 12px 0;
}

.custom-checkbox span,
.custom-radio span {
  display: flex;
  align-items: center;
}

/* Прячем дефолтный input */
.custom-checkbox input,
.custom-radio input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Стилизуем квадратик/кружок */
.custom-checkbox span::before,
.custom-radio span::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 4px; /* Checkbox квадратный */
  margin-right: 12px;
  background: #fff;
  transition: all 0.2s ease;
}

/* Радио — круглое */
.custom-radio span::before {
  border-radius: 50%;
}

/* Hover */
.custom-checkbox:hover span::before,
.custom-radio:hover span::before {
  border-color: #1578d7;
}

/* Активное состояние */
.custom-checkbox input:checked + span::before,
.custom-radio input:checked + span::before {
  background: #1578d7;
  border-color: #1578d7;
  box-shadow: 0 0 0 2px rgba(6, 111, 209, 0.2);
}

/* Для радио — точка внутри */
.custom-radio input:checked + span::before {
  background: radial-gradient(#fff 0%, #fff 40%, #1578d7 41%, #1578d7 100%);
}

.social-input {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid #636d74;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  width: 100%;
  margin: 16px 0;
  height: 50px;

  input {
    background-color: transparent;
    color: white;
  }
}

.social-input__prefix {
  color: #8a8f99; /* Предзаполненная часть тусклее */
  margin-right: 2px;
  user-select: none;
}

.social-input__field {
  flex: 1;
  border: none;
  outline: none;
  font-size: inherit;
  padding: 0;
  color: #111;
}

.social-input__field::placeholder {
  color: #c7ccd2;
}
