// @mixin font($fname, $fstyle, $fweight, $fwoff2, $fwoff, $fttf, $feot) {
//   @font-face {
//     font-family: $fname;
//     font-style: $fstyle;
//     font-weight: $fweight;
//     src: url($fttf) format("truetype"), url($feot) format("embedded-opentype"),
//       url($fwoff2) format("woff2"), url($fwoff) format("woff");
//     font-display: swap;
//   }
// }

// @include font(
//   "SFProDisplay",
//   normal,
//   300,
//   "https://excourse.kz/test/fonts/SFProDisplay-Light.woff2",
//   "https://excourse.kz/test/fonts/SFProDisplay-Light.woff",
//   "https://excourse.kz/test/fonts/SFProDisplay-Light.ttf",
//   "https://excourse.kz/test/fonts/SFProDisplay-Light.eot"
// );
// @font-face {
//   font-family: "DrukCyrBold";
//   src: url("https://excourse.kz/test/fonts/drukcyr.eot");
//   src: url("https://excourse.kz/test/fonts/drukcyr.eot?#iefix")
//       format("embedded-opentype"),
//     url("https://excourse.kz/test/fonts/drukcyr.woff2") format("woff2"),
//     url("https://excourse.kz/test/fonts/drukcyr.woff") format("woff"),
//     url("https://excourse.kz/test/fonts/drukcyr.ttf") format("truetype");
//   font-weight: bold;
//   font-style: italic;
//   font-display: swap;
// }
