.ms {
  position: relative;
  display: inline-block;
  width: 100%;
}

.ms__trigger {
  position: relative;
  width: 100%;
  padding: 15px 10px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #636d74;
  text-align: left;
  font-size: 16px;
  color: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ms__trigger::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 100%;
  right: 0;
  top: 0;
  background: url("../images/dist/chevron-bottom.svg") no-repeat right 12px
    center;
}

.ms.is-open .ms__trigger::after {
  transform: rotate(180deg);
}

.ms__menu {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  margin-top: 4px;
  padding: 12px 0;

  background: #0b0f12;
  border-radius: 4px;
  border: 1px solid #d0d5dd;
  box-shadow: 0 8px 16px rgba(15, 23, 42, 0.08);

  max-height: 220px;
  overflow-y: auto;

  display: none;
}

.ms.is-open .ms__menu {
  display: block;
}

.ms__option {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  gap: 8px;
}

.ms__option:hover {
  background: #066fd1;
}

.ms__option input[type="checkbox"] {
  accent-color: #066fd1; /* если поддерживается */
}
