.profile-navigation {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 40px 0;
  }

  &__item {
    display: flex;
    text-decoration: none;
    gap: 12px;
    color: white;
    padding: 12px 16px;
    background-color: var(--gray);
    border-radius: 8px;
  }
}
