.balance {
  padding: 20px 0;

  &-wrapper {
    position: relative;
    background: $accent;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }

  &-title {
    font-size: 36px;
    font-family: "DrukCyrBold", sans-serif;
    text-transform: uppercase;
    color: white;
    margin: 0;
    z-index: 1;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-coin {
    margin: 0 10px 0 0;
  }

  &-value {
    font-family: SFProDisplaySemibold, sans-serif;
    color: white;
    margin: 0;
    font-size: 36px;
  }
}
