.page__compas {
  padding: 0;
}

#map {
  width: 100%;
  height: 80vh;
  left: 0;
  top: 0;
  z-index: 1;
}

#compass-group {
  img {
    width: 360px;
  }
}

#compass-wrap,
.compass-back {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 360px;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}
.compass-back {
  z-index: 9;
}

#compass-svg {
  pointer-events: none;
}

#cursor-head {
  pointer-events: all;
  cursor: pointer;
}

.compass-back__items {
  position: relative;
  width: 360px;
  height: 360px;
  transform-origin: center center;
}

.compass-back__item {
  .fly-star {
    position: relative;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #908070;
    background-color: white;
    border-radius: 4px;
    font-size: 12px;
    flex-wrap: wrap;
    text-align: center;

    &--hidden {
      background-color: transparent;
      border-color: transparent;
      span {
        display: none;
      }
    }
  }

  .flyingStartsYear {
    position: absolute;
    right: -18px;
    top: -2px;
    background-color: white;
    border: 1px solid #908070;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-size: 12px;

    &.bg-red {
      background-color: #e00000;
      color: white;
    }
  }

  .flyingStartsMonth {
    position: absolute;
    right: -18px;
    top: 20px;
    background-color: white;
    border: 1px solid #908070;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-size: 12px;

    &.bg-red {
      background-color: #e00000;
      color: white;
    }
  }

  span {
    display: block;
    width: 50%;
  }
}

.compass-back__item--1 {
  position: absolute;
  top: 69px;
  right: 166px;
}

.compass-back__item--2 {
  position: absolute;
  right: 104px;
  top: 102px;
}

.compass-back__item--3 {
  position: absolute;
  right: 83px;
  top: 162px;
}

.compass-back__item--4 {
  position: absolute;
  right: 105px;
  top: 219px;
}

.compass-back__item--5 {
  position: absolute;
  right: 167px;
  top: 250px;
}

.compass-back__item--6 {
  position: absolute;
  right: 231px;
  top: 220px;
}

.compass-back__item--7 {
  position: absolute;
  right: 252px;
  top: 157px;
}

.compass-back__item--8 {
  position: absolute;
  right: 231px;
  top: 101px;
}

.compass-back__item--center {
  position: absolute;
  right: 167px;
  top: 161px;
}
.checkbox-wrapper {
  margin: 0 0 12px;
}

#ui {
  margin: 0 0 12px;
}
.compass-field {
  border: 1px solid #adadad;
  padding: 5px 10px;
  border-radius: 4px;

  outline: none;
}

.compass-field-wrapper {
  margin: 0 0 12px;

  label {
    min-width: 150px;
    display: inline-block;
  }
}

.compass-sector.five-ym-highlight {
  fill: red !important;
  fill-opacity: 0.18 !important;
  /* Можно добавить transition для плавности: */
  transition: fill-opacity 0.2s;
}

.compass-sector.tai-sui-sector-highlight {
  fill: orange !important;
  fill-opacity: 0.35 !important;
  transition: fill-opacity 0.2s;
}

.compass-sectors-wrapper {
  height: 360px;
  position: relative;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 360px;
}

.file-input {
  display: none;
}

.file-label {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  margin: 0 0 8px;
}

.file-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  background: #dedede;
  color: #222;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

#rotatable {
  position: absolute;
  width: 220px;
  height: 220px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 384px;

  cursor: grab;
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  z-index: 15;
  .rotatable-img {
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  img {
    max-width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
  }
}

.plan-back {
  position: absolute;
  top: 359px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 20;
}

.plan-front {
  position: absolute;
  top: 600px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 20;
}
.flyingSectorName {
  display: none;
  background-color: #fff;
  border: 1px solid #908070;
  border-radius: 100%;
  font-size: 12px;
  height: 20px;
  position: absolute;
  right: 8px;
  top: -20px;
  width: 20px;
}
.with-plan {
  z-index: 16;
  .flyingSectorName {
    display: block;
  }
  .compass-back__item--1 {
    position: absolute;
    top: 18px;
    right: 166px;
  }

  .compass-back__item--2 {
    position: absolute;
    right: 45px;
    top: 48px;
  }

  .compass-back__item--3 {
    position: absolute;
    right: 25px;
    top: 162px;
  }

  .compass-back__item--4 {
    position: absolute;
    right: 38px;
    top: 267px;
  }

  .compass-back__item--5 {
    position: absolute;
    right: 160px;
    top: 317px;
  }

  .compass-back__item--6 {
    position: absolute;
    right: 281px;
    top: 268px;
  }

  .compass-back__item--7 {
    position: absolute;
    right: 301px;
    right: 301px;
  }

  .compass-back__item--8 {
    position: absolute;
    right: 271px;
    top: 50px;
  }
}

.plan-grid {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  height: 220px;
  z-index: 3;
}

.plan-grid-item {
  width: 33.33%;
  height: 33.33%;
  border: 1px solid #333;
  padding: 10px;
  color: black;
  font-size: 16px;
  text-align: center;
}
