.hero {
  padding: 26px 0 15px;

  &-wrapper {
    position: relative;
    background: $accent;
    border-radius: 24px;
    min-height: 320px;
  }

  &-title {
    position: absolute;
    right: 16px;
    top: 36px;
    margin: 0;
    font-family: "DrukCyrBold", sans-serif;
    text-transform: uppercase;
    color: white;
    z-index: 1;
  }

  &-images {
    display: none;
  }

  &.no-img {
    .hero-wrapper {
      min-height: 280px;
    }
    .hero-model {
      display: none;
    }
    .hero-title {
      text-align: center;
      left: 0;
      right: 0;
      top: 70px;
      font-size: 71px;
      line-height: 70px;
    }

    .hero-images {
      display: block;
    }
  }

  &-dumbbells {
    position: absolute;
    right: -50px;
    top: 20px;
    width: 220px;
  }

  &-page {
    position: absolute;
    top: 160px;
    width: 70px;
    right: 20px;
    z-index: 3;
  }

  &-page-1 {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 70px;
    z-index: 3;
  }

  &-clip {
    position: absolute;
    top: 130px;
    width: 120px;
    left: 30px;
    z-index: 3;
  }

  &-model {
    position: absolute;
    bottom: 0;
    left: -10px;
    height: 345px;
    z-index: 2;
  }

  &-fire {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 36px;
    z-index: 2;
  }

  &-banner {
    width: 100%;
  }
}
.fs-85 {
  font-size: 85px;
  // @media (min-width: 768px) {
  //   font-size: calc(16px + 61 * (100vw / 500));
  // }
}
.fs-55 {
  font-size: 55px;
  line-height: 27px;
}
.fs-90 {
  font-size: 90px;
  line-height: 78px;
}
.c-black {
  color: black;
}

.happy-new-year {
  position: relative;
  overflow: hidden;
  .hero-model {
    left: 0;
  }

  .cap-image {
    left: 174px;
    position: absolute;
    top: 71px;
    width: 33px;
  }

  .snowflakes-image {
    left: 0px;
    position: absolute;
    top: -89px;
    z-index: 2;
  }

  .tree-image {
    left: -110px;
    position: absolute;
    top: 301px;
    z-index: -1;
  }

  .tree2-image {
    right: 0;
    position: absolute;
    top: 301px;
    z-index: -1;
  }

  .tree3-image {
    left: 0;
    position: absolute;
    top: 921px;
    z-index: 2;
  }

  .tree4-image {
    right: 0;
    position: absolute;
    top: 1161px;
    z-index: 3;
  }

  .tree5-image {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }

  .snowflakes2-image {
    bottom: 0;
    left: 0px;
    position: absolute;
    z-index: 2;
  }

  .menu,
  .material {
    background: transparent;

    .title-block h3 {
      color: $accent;
    }

    .base-btn {
      background: $accent;
      color: white;
    }
  }
}

.hero-banner {
  border-radius: 20px;
}
.progress-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
