:root {
  --cgreen: #00df73;
  --white: #ffffff;
  --black: #000000;
  --gray: #3c3e40;
  --gray-dark: #232526;
  --gray-stroke: #3a3a3a;
}

.page__bg {
  background-image: url("../images/dist/background.png");
  background-repeat: no-repeat;
  background-position: center -100px;
}

.v-main {
  &__head {
    margin: 30px 0 12px;
  }
  &__section-title {
    margin: 0 0 4px;
    font-family: "ProximaNovaBold", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: var(--white);
  }

  &__section-desc {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
    color: var(--white);
    opacity: 0.4;
  }

  &__selection-item {
    position: relative;
    display: block;
    width: 250px;
    background-color: var(--gray-dark);
    border: 1px solid var(--gray-stroke);
    text-decoration: none;
    padding: 20px;
    border-radius: 12px;
    overflow: hidden;

    &:before {
      content: "";
      width: 100%;
      height: 100%;

      position: absolute;
      width: 78px;
      height: 104px;
      left: 207px;
      top: -33px;

      background: rgba(255, 255, 255, 0.13);
      filter: blur(29px);
      z-index: 1;
    }
  }

  &__selection-title {
    font-family: "ProximaNovaBold", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: var(--white);
    margin: 0 0 8px;
  }

  &__selection-desc {
    font-family: "ProximaNovaRegular", sans-serif;
    font-size: 12px;
    line-height: 1.2;
    color: var(--white);
    opacity: 0.4;
  }

  &__selection-candidate-list {
    display: flex;
    align-items: center;
  }

  &__selection--wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__selection-candidate-count {
    margin: 0;
    color: white;
    font-size: 10px;
    font-family: "ProximaNovaBold", sans-serif;
  }

  &__selection-candidate-item {
    position: relative;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    border: 1px solid var(--gray-stroke);
    overflow: hidden;

    &:nth-child(1) {
      z-index: 4;
    }

    &:nth-child(2) {
      margin-left: -4px;
      z-index: 3;
    }

    &:nth-child(3) {
      margin-left: -4px;
      z-index: 2;
    }

    &:nth-child(4) {
      margin-left: -4px;
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.v-main__calendar {
  position: relative;
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  margin: 24px 0;

  background: linear-gradient(
    91.49deg,
    #1a222b 5.64%,
    rgba(27, 52, 119, 0.43) 34.94%,
    rgba(22, 94, 172, 0.49) 70.27%,
    #1a222b 94.76%
  );
  border-radius: 12px;

  &-label {
    font-family: "ProximaNovaBold", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: var(--white);
    margin: 0 0 4px;
  }

  &-label {
    font-size: 16px;
    line-height: 1.2;
    color: var(--white);
    margin: 0 0 4px;
  }

  &-desc {
    font-size: 12px;
    line-height: 1.2;
    color: var(--white);
    margin: 0;
    opacity: 0.4;
  }

  &-label,
  &-desc {
    max-width: 210px;
    position: relative;
    z-index: 2;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 109px;
    height: 100%;
    background: url("../images/dist/calendar-bg.png") no-repeat center/cover;
  }
}

.v-main__service {
  &-list {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }

  &-item {
    display: flex;
    flex-basis: calc(50% - 12px / 2);
    align-items: center;
    background-color: var(--gray-dark);
    border-radius: 12px;
    border: 1px solid var(--gray-stroke);
    padding: 12px;
    gap: 8px;
    text-decoration: none;
    color: var(--white);
  }

  &-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
    flex-shrink: 0;
  }

  &-title {
    font-family: "ProximaNovaBold", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 0 4px;
  }

  &-desc {
    font-size: 10px;
    line-height: 1.2;
    opacity: 0.5;
    margin: 0;
  }
}

.v-main__service-item--simple {
  justify-content: center;
  .v-main__service-icon {
    width: 25px;
    height: 25px;

    img {
      width: 15px;
    }
  }
  .v-main__service-title {
    margin: 0;
  }
}

.advert-slider {
  margin: 24px 0;
}

.advert-slider,
.personSwiper {
  .swiper-pagination-bullet-active {
    background-color: white;
  }
  .swiper-pagination-bullet {
    width: 21px;
    height: 4px;
    border-radius: 4px;
    background-color: white;
  }
}

.selectionSwiper {
  padding-bottom: 20px;
  .swiper-slide {
    width: auto;
  }

  .swiper-scrollbar-drag {
    background-color: white;
    opacity: 0.2;
  }
}

.profile-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 12px;
  }

  h6 {
    font-size: 12px;
  }

  h5 {
    font-size: 14px;
  }
  h4 {
    font-size: 16px;
  }

  h3 {
    font-size: 18px;
  }

  h2 {
    font-size: 20px;
  }

  h1 {
    font-size: 22px;
  }

  ul {
    padding-left: 25px;
  }

  li {
    margin: 0 0 8px;
  }
}

.profile-btn-list {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 35px 0 45px;
}

.profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 12px;
  width: 100px;
  min-height: 45px;
  padding: 12px;
  color: white;
  text-align: center;

  &--telegram {
    background-color: #2ea3d4;
  }

  &--wcp {
    background-color: #21c063;
  }

  &--instagram {
    background: linear-gradient(
      91.91deg,
      #f9ce34 -72.12%,
      #ee2a7b 68.14%,
      #6228d7 165.07%
    );
  }

  &--vk {
    background-color: #2787f5;
  }

  &--tiktok {
    background-color: #000;
  }

  &--youtube {
    background-color: #ff0033;
  }
}

.page-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
}

.page-header-back {
  position: absolute;
  width: 24px;
  height: 24px;
  text-decoration: none;
  left: 0;
  top: 31px;
  background: url("../images/dist/arrow-left-ico.svg") no-repeat center;
}

.v-event {
  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    margin: 12px 0 0;
  }
  &__item {
    width: calc(50% - 8px / 2);
    border: 1px solid #3a3a3a;
    background: #232526;
    border-radius: 12px;
    padding: 12px;
  }
  &__item-cover {
    width: 100%;
    height: 95px;
    border-radius: 11px;
    margin: 0 0 12px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__label {
    font-family: "ProximaNovaBold";
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
    margin: 0 0 4px;
  }

  &__description {
    font-size: 12px;
    line-height: 1.2;
    color: rgba(#ffffff, 0.54);
    margin: 0 0 4px;
  }

  &__btn {
    margin: 8px 0 0;
  }
}

.v-useful {
  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    margin: 12px 0 0;
  }
  &__item {
    width: 100%;
    border: 1px solid #3a3a3a;
    background: #232526;
    border-radius: 12px;
    padding: 12px;
  }
  &__item-cover {
    width: 100%;
    height: 95px;
    border-radius: 11px;
    margin: 0 0 12px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__label {
    font-family: "ProximaNovaBold";
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
    margin: 0 0 4px;
  }

  &__description {
    font-size: 12px;
    line-height: 1.2;
    color: rgba(#ffffff, 0.54);
    margin: 0 0 4px;
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin: 16px 0 0;

    .v-useful__btn {
      width: 100%;
    }
  }
}

.v-course {
  &__cover {
    width: 100%;
    height: 100px;
    border-radius: 12px;
    margin: 0 0 24px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-family: "ProximaNovaBold";
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;
    margin: 0 0 12px;
  }

  &__description {
    font-size: 14px;
    line-height: 1.2;
    color: rgba(#fff, 0.54);
    margin: 0 0 24px;
  }

  &__lesson-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__lesson {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    border: 1px solid #3a3a3a;
    border-radius: 12px;
    gap: 8px;
    background-color: #232526;
    padding: 12px;

    &--locked {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__lesson-num {
    width: 40px;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 1;
    color: rgba(#fff, 0.54);
  }

  &__lesson-label {
    width: 100%;
    font-size: 16px;
    color: white;
  }

  &__lesson-ico {
    flex-shrink: 0;
  }

  &__watch-btn-container {
    width: 400px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: fixed;
    bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.course-page {
  padding-bottom: 180px;
}

.v-lesson__video {
  border-radius: 12px;
  overflow: hidden;
  margin: 0 0 24px;
}

.v-market {
  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    margin: 12px 0 0;
  }
  &__item {
    width: 100%;
    border: 1px solid #3a3a3a;
    background: #232526;
    border-radius: 12px;
    padding: 12px;
  }
  &__item-cover {
    width: 100%;
    height: 135px;
    border-radius: 11px;
    margin: 0 0 12px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__label {
    font-family: "ProximaNovaBold";
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
    margin: 0 0 4px;
  }

  &__description {
    font-size: 12px;
    line-height: 1.2;
    color: rgba(#ffffff, 0.54);
    margin: 0 0 4px;
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin: 16px 0 0;

    .v-market__btn {
      width: calc(50% - 8px / 2);
    }
  }

  &__author {
    width: calc(50% - 8px / 2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }

  &__author-avatar {
    width: 34px;
    height: 34px;
    border-radius: 100px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__author-name {
    font-size: 12px;
    font-family: "ProximaNovaBold";
    line-height: 1.2;
  }
}

.v-card {
  &__item {
    background: #232526;
    border: 1px solid #3a3a3a;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
  }

  &__info {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    align-items: center;
    text-decoration: none;

    margin: 0 0 12px;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid var(--cgreen);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-family: "ProximaNovaBold", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    margin: 0 0 4px;
  }

  &__status {
    display: inline-block;
    font-family: "ProximaNovaRegular", sans-serif;
    font-size: 10px;
    line-height: 17px;
    color: var(--black);
    margin: 0;
    padding: 0 4px;
    background-color: var(--cgreen);
    border-radius: 2px;
  }

  &__label {
    font-family: "ProximaNovaBold", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 0 4px;
  }

  &__description {
    font-size: 12px;
    line-height: 1.2;
    color: rgba(white, 0.54);

    ul {
      margin: 0;
      padding: 0 0 0 20px;
    }
  }

  &__btn {
    width: 100%;
    margin: 12px 0 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 0;
  }
}

.header__action-edit {
  color: white;
  text-decoration: none;
}

.v-person {
  &__item {
    padding: 12px;
    text-align: center;
    background-color: var(--gray-dark);
    border: 1px solid var(--gray-stroke);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__cover {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
    margin: 0 auto 8px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-family: "ProximaNovaBold", sans-serif;
    font-size: 12px;
    line-height: 1.2;
    margin: 0 0 4px;
  }

  &__desc {
    font-size: 10px;
    line-height: 1.2;
    margin: 0;
    color: rgba(white, 0.54);
  }
}

.personSwiper {
  padding-bottom: 30px;
  margin: 24px 0;

  .swiper-wrapper {
  }

  .swiper-slide {
    display: flex !important;
    height: auto !important;
  }

  .swiper-slide {
  }
}
