.page {
  min-height: 100vh;
  padding-bottom: 150px;
}

.page__bg {
  background: url("../images/dist/main-bg.png") no-repeat center/cover;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 25px;

  &__title {
    color: #017cc6;
    font-family: "Poiret One", sans-serif;
    font-size: 48px;
    line-height: 54px;
    margin: 0 0 4px;
  }

  &__description {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
  }

  &__btn {
    display: block;
    width: 146px;
    min-height: 38px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: white;
    text-decoration: none;
    margin: 16px 0 0;
    padding: 12px;
    box-shadow: 0 4px 24.2px rgba(87, 84, 84, 0.25);
    background: linear-gradient(
      90deg,
      #28bac4 -16.19%,
      #47e8f2 51.79%,
      #5ec1c7 119.05%
    );
    border-radius: 10px;
    transition: all 0.5s ease;
    &:hover {
      background: linear-gradient(
        90deg,
        #47e8f2 -16.19%,
        #47e8f2 51.79%,
        #47e8f2 119.05%
      );
    }
  }
}

.v-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 20px 44px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px 12px 0 0;
  z-index: 3;

  &__button {
    text-decoration: none;
    width: 20%;
    text-align: center;
    color: #c19a6b;
    opacity: 0.5;

    &--active {
      opacity: 1;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    margin: 0 0 8px;
  }

  &__text {
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
  }
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.tab-buttons button.active {
  font-weight: bold;
}

.tab-buttons {
  background: #ffffff;
  box-shadow: 0px 4px 24.2px rgba(87, 84, 84, 0.25);
  border-radius: 12px;
  margin: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.tab-button {
  position: relative;
  width: 100%;
  border: none;
  background: transparent;
  color: #adadad;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 10px;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 45px;

    background: url("../images/dist/tab-divider.png") no-repeat center;
  }

  &:last-child::before {
    display: none;
  }

  &.active {
    color: #5ec1c7;
  }
}

.main-category {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 16px;
    text-decoration: none;
    box-shadow: 0px 4px 24.2px rgba(87, 84, 84, 0.25);
    border-radius: 6px;
    color: #3e3838;
    margin: 0 0 16px;
  }

  &__item-icon {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 6px;

    img {
      max-height: 40px;
    }
  }

  &__item-title {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    text-align: center;
  }
}

.main-course {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 48%;
    background: #ffffff;
    box-shadow: 0px 4px 24.2px rgba(87, 84, 84, 0.25);
    border-radius: 6px;
    margin: 0 0 16px;
  }

  &__cover {
    position: relative;
    height: 90px;
  }

  &__image {
    width: 100%;
    height: 90px;
    object-fit: cover;
  }

  &__content {
    position: relative;
    padding: 12px 12px 65px;
  }

  &__label {
    font-size: 14px;
    line-height: 17px;
    color: #017cc6;
    font-weight: 500;
    margin: 0;
  }

  &__description {
    font-size: 12px;
    line-height: 15px;
    color: #adadad;
    margin: 4px 0 0;
  }

  &__badge-list {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  &__badge {
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    border-radius: 12px;
    padding: 4px 10px;
    margin: 4px 0 0;

    &--blue {
      background-color: #aee6f9;
    }

    &--yellow {
      background-color: #f9c87a;
    }
  }

  &__link {
    position: absolute;
    width: calc(100% - 24px);
    left: 12px;
    right: 12px;
    bottom: 12px;
    display: block;
    min-height: 38px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: white;
    text-decoration: none;
    margin: 16px 0 0;
    padding: 12px;
    box-shadow: 0 4px 24.2px rgba(87, 84, 84, 0.25);
    background: linear-gradient(
      90deg,
      #28bac4 -16.19%,
      #47e8f2 51.79%,
      #5ec1c7 119.05%
    );
    border-radius: 10px;
    transition: all 0.5s ease;
    &:hover {
      background: linear-gradient(
        90deg,
        #47e8f2 -16.19%,
        #47e8f2 51.79%,
        #47e8f2 119.05%
      );
    }
  }
}

.v-btn-back {
  a {
    display: inline-block;
    border: 1px solid #5ec1c7;
    border-radius: 6px;
    padding: 4px 12px;
    color: #5ec1c7;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    margin: 16px 0;
  }
}

.v-course {
  &__page {
    padding-bottom: 200px;
  }
  &__cover {
    position: relative;
    height: 168px;
    border-radius: 16px;

    img {
      height: 168px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    color: #017cc6;
    margin: 20px 0 12px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #c19a6b;
    margin: 12px 0 16px;
  }

  &__btn-buy-wrapper {
    position: fixed;
    width: 375px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 100px;
    border-radius: 12px;
    padding: 12px 16px 32px;
    background: rgba(255, 255, 255, 0.67);
    backdrop-filter: blur(4.65px);
  }
  &__link {
    display: block;
    max-width: 150px;
    width: 100%;
    min-height: 38px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    padding: 12px;
    box-shadow: 0 4px 24.2px rgba(87, 84, 84, 0.25);
    background: linear-gradient(
      90deg,
      #28bac4 -16.19%,
      #47e8f2 51.79%,
      #5ec1c7 119.05%
    );
    border-radius: 10px;
    transition: all 0.5s ease;
    &:hover {
      background: linear-gradient(
        90deg,
        #47e8f2 -16.19%,
        #47e8f2 51.79%,
        #47e8f2 119.05%
      );
    }
  }
}

.main__quote {
  position: relative;
  padding: 25px 45px;
  text-align: center;
  font-family: "Merriweather", serif !important;
  font-style: italic;
  color: #c19a6b;
  font-size: 14px;
  line-height: 17px;
  margin: -42px 0 10px;
  background: url("../images/dist/blur-white.png") no-repeat center/cover;

  &:before {
    content: "";
    display: block;
    height: 13px;
    left: 30px;
    position: absolute;
    top: 20px;
    width: 13px;
    background: url("../images/dist/quote.svg") no-repeat center/cover;
  }

  &:after {
    content: "";
    display: block;
    height: 13px;
    right: 30px;
    position: absolute;
    bottom: 20px;
    transform: rotate(180deg);
    width: 13px;
    background: url("../images/dist/quote.svg") no-repeat center/cover;
  }
}

.font-monrope {
  font-family: "Manrope", sans-serif !important;
}

.font-merriweather {
  font-family: "Merriweather", serif !important;
}

.form {
  &__wrapper {
    margin: 40px 0;
    padding: 20px 15px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 4px 24.2px rgba(87, 84, 84, 0.25);
  }

  &__title {
    font-size: 22px;
    line-height: 25px;
    margin: 0 0 8px;
    text-align: center;
  }

  &__description {
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 12px;
    text-align: center;
  }

  &__row {
    margin: 0 0 12px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 45px;
    text-indent: 15px;
    border: 1px solid #bbbbbb;
    border-radius: 8px;
    outline: none;
    margin: 4px 0 0;
  }

  &__select {
    display: block;
    width: 100%;
    height: 45px;
    text-indent: 15px;
    border: 1px solid #bbbbbb;
    border-radius: 8px;
    outline: none;
    margin: 4px 0 0;
  }

  &__area {
    display: block;
    width: 100%;
    border: 1px solid #bbbbbb;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    margin: 4px 0 0;
    resize: none;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
  }

  &__send {
    display: inline-block;
    width: 146px;
    min-height: 38px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: white;
    text-decoration: none;
    margin: 16px 5px 0;
    padding: 12px;
    outline: none;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 24.2px rgba(87, 84, 84, 0.25);
    background: linear-gradient(
      90deg,
      #28bac4 -16.19%,
      #47e8f2 51.79%,
      #5ec1c7 119.05%
    );
    border-radius: 10px;
    transition: all 0.5s ease;
    &:hover {
      background: linear-gradient(
        90deg,
        #47e8f2 -16.19%,
        #47e8f2 51.79%,
        #47e8f2 119.05%
      );
    }
  }

  &__cancel {
    display: inline-block;
    width: 146px;
    min-height: 38px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: #47e8f2;
    text-decoration: none;
    margin: 16px 5px 0;
    padding: 12px;
    outline: none;
    cursor: pointer;
    border: 1px solid #47e8f2;
    border-radius: 10px;
    transition: all 0.5s ease;
  }
}

.checkbox-group {
  display: flex;
  align-items: flex-start;
  margin: 0 0 4px;

  input {
    margin: 0 8px 0 0;
  }

  label {
    font-size: 16px;
    line-height: 19px;
  }
}
