.material {
  position: relative;
  padding: 40px 0;
  background: $accent;

  &-dumbbells {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 197px;
  }

  &-wrapper {
    position: relative;
    margin: 32px 0 0;
    text-align: center;
    z-index: 4;
  }
  .page-1 {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 39px;
  }
  .page-2 {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 44px;
  }
  .page-3 {
    position: absolute;
    top: 110px;
    right: 10px;
    width: 87px;
  }
  .clip-1 {
    position: absolute;
    top: 130px;
    left: 10px;
    width: 88px;
  }
  .clip-2 {
    position: absolute;
    top: 200px;
    right: 147px;
    width: 28px;
    z-index: 5;
  }
}
