.material-page {
  position: relative;
  padding: 40px 0 100px;

  &-dumbbells {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 197px;
  }

  &-wrapper {
    position: relative;
    margin: 32px 0 0;
    z-index: 4;

    .base-btn {
      margin: 6px 6px 0 0;
    }
  }
  .page-1 {
    left: 20px;
    position: absolute;
    top: 440px;
    width: 39px;
  }
  .page-2 {
    position: absolute;
    right: 0;
    top: 410px;
    width: 44px;
  }
  .page-3 {
    position: absolute;
    right: 0;
    top: 40px;
    width: 87px;
  }
  .clip-1 {
    left: 0;
    position: absolute;
    top: 40px;
    width: 88px;
  }
}
