.menu {
  position: relative;
  padding: 40px 0;
  background: $accent;
  overflow: hidden;

  &-dumbbells {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 197px;
  }

  &-wrapper {
    position: relative;
    margin: 32px 0 0;
    text-align: center;
    z-index: 4;
  }

  .aiel-menu {
    position: absolute;
    width: 264px;
    top: 0;
    left: -20px;
    z-index: 2;
  }
  .salad {
    position: absolute;
    width: 64px;
    top: 135px;
    left: 11px;
    z-index: 3;
  }
  .smile-emoji {
    position: absolute;
    width: 78px;
    left: 140px;
    top: 10px;
    z-index: 1;
  }
  .cucumber {
    position: absolute;
    right: 0;
    width: 97px;
    top: 100px;
    z-index: 1;
  }
}
