$accentColor: #e05369;
$grayColor: #3d3d3d;
$grayColor2: #4b4b4b;
$pink-lighten: #d6909f;
$pink-darken: #7c3552;
.new {
  font-family: "Inter Tight", sans-serif;
  padding-bottom: 30px;
}
.new-hero {
  &-wrapper {
    position: relative;
    background: $accentColor;
    border-radius: 16px;
    margin: 85px 0 0;
    height: 425px;
  }

  &-logo {
    position: absolute;
    left: 18px;
    top: 18px;
  }

  &-model {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -52px;
  }

  &-vector-1 {
    position: absolute;
    right: 18px;
    top: 18px;
  }

  &-title {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 62px;
    line-height: 59px;
    font-family: "BebasNeueBold", san-serif;
    color: white;
    z-index: 3;
  }

  &-shadow {
    position: absolute;
    width: 100%;
    height: 149px;
    left: 0;
    bottom: 0;
    border-radius: 0 0 16px 16px;
    background: linear-gradient(180deg, rgba(224, 83, 105, 0) 0%, #e05369 100%);
    z-index: 2;
  }
}

.new-balance {
  &-wrapper {
    position: relative;
    background: $pink-lighten;
    border-radius: 16px;
    margin: 60px 0 0;
    min-height: 265px;
  }

  &-vector-2 {
    position: absolute;
    right: 18px;
    top: 18px;
  }

  &-label {
    position: absolute;
    top: 18px;
    left: 18px;
    color: white;
    font-size: 42px;
    line-height: 32px;
    margin: 0;
  }

  &-value {
    position: absolute;
    bottom: 18px;
    left: 18px;
    color: white;
    font-size: 122px;
    line-height: 100px;
    margin: 0;
  }
}

.new-program {
  &-wrapper {
    background: $accentColor;
    margin: 60px 0 0;
    border-radius: 16px;
    padding: 30px;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px;
  }

  &-button {
    position: relative;
    min-width: 130px;
    color: white;
    display: block;
    background: white;
    border-radius: 8px;
    font-size: 12px;
    color: $pink-darken;
    font-weight: bold;
    padding: 12px 8px 12px 30px;
    text-align: center;
    text-decoration: none;

    &:focus-visible {
      outline: none;
    }
  }
  .icon-vector-3,
  .icon-vector-4,
  .icon-vector-5 {
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 11px;
      top: 11px;
      width: 18px;
      height: 18px;
    }
  }
  @for $i from 3 through 5 {
    .icon-vector-#{$i} {
      &:before {
        background: url("../images/dist/vector-#{$i}.svg") no-repeat center;
      }
    }
  }

  &-item {
    position: relative;
    background: white;
    border-radius: 16px;
    margin: 10px 0 0;
    height: 249px;
    overflow: hidden;

    &.left {
      .new-program-model {
        position: absolute;
        left: 0;
        top: 0;
      }

      .new-program-label {
        left: 245px;
      }

      .new-program-vector-2 {
        left: 245px;
      }
    }

    &.right {
      .new-program-model {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  &-vector-2 {
    position: absolute;
    bottom: 20px;
    left: 18px;
  }
  &-label {
    position: absolute;
    font-size: 28px;
    color: $pink-darken;
    font-weight: 500;
    line-height: 26px;
    top: 20px;
    left: 18px;
  }

  &-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

.new-typical {
  position: relative;
  margin: 60px 0 0;
  background: $pink-lighten;
  border-radius: 16px;
  padding: 30px;
  min-height: 265px;

  &-label {
    font-size: 42px;
    line-height: 40px;
    font-weight: 500;
    color: white;
  }

  &-image {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &-button {
    position: absolute;
    display: block;
    min-width: 160px;
    bottom: 30px;
    left: 30px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 8px;
    text-align: center;
    background: $accentColor;
    text-decoration: none;
    color: white;

    &:focus-visible {
      outline: none;
    }
  }

  &--pink {
    background: $accentColor;

    .new-typical-button {
      background: white;
      color: $grayColor;
    }
  }
}

.new-photo {
  margin: 60px 0 0;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;
  }

  &-wrapper {
    margin: 42px 0 0;
  }

  &-items {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    width: 48%;
  }

  &-cover {
    border-radius: 8px;
    overflow: hidden;
    margin: 0 0 10px;

    img {
      width: 100%;
    }
  }

  &-label {
    font-size: 42px;
    line-height: 44px;
    font-weight: 500;
    color: $accentColor;
    margin: 0;
  }

  &-dsc {
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    color: black;
    opacity: 0.5;
    margin: 0;
  }

  &-button {
    display: block;
    min-width: 100%;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 8px;
    text-align: center;
    background: $accentColor;
    text-decoration: none;
    color: white;

    &.darken {
      background: $pink-darken;
    }

    &:focus-visible {
      outline: none;
    }
  }
}

.page-header {
  margin: 30px 0 42px;
}
.page-button-back {
  font-size: 18px;
  line-height: 22px;
  color: #4b4b4b;
  text-decoration: none;
  font-weight: 500;

  &:focus-visible {
    outline: none;
  }
}

.button-back {
  display: inline-block;
  width: auto;
  border-radius: 8px;
  color: #4b4b4b;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  margin: 8px 0;

  &-wrapper {
    text-align: center;
  }

  &--accent {
    color: #fff;
    background: $accentColor;
  }

  &--accent-border {
    color: $accentColor;
    border: 3px solid $accentColor;
  }

  &.w-100 {
    width: 100%;
  }
}

.page-title {
  font-size: 42px;
  line-height: 40px;
  font-weight: 500;
  margin: 40px 0 0;
}

.page-progress {
  background: #f2f2f2;
  min-height: 100vh;
  .new-typical {
    margin: 10px 0 0;
  }
}

.cover-photo {
  overflow: hidden;
  border-radius: 16px;
  margin: 0 0 30px;

  img {
    width: 100%;
  }
}

.progress-table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0 0;

  &-item {
    width: 33%;
    margin: 0 0 40px;
  }

  &-label {
    color: $grayColor;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    opacity: 0.5;
  }

  &-value {
    font-size: 42px;
    line-height: 40px;
    color: $grayColor;
    margin: 8px 0 0;
    font-weight: 500;
  }

  &--pink {
    .progress-table-value {
      color: $accentColor;
    }
  }
}

.new-traning-item {
  position: relative;
  height: 160px;
  border-radius: 16px;
  margin: 0 0 10px;

  &--light {
    background: white;
    .new-traning-label {
      color: $pink-darken;
    }
  }

  &--medium {
    background: $pink-lighten;
    .new-traning-label {
      color: white;
    }
  }
  &--hard {
    background: $accentColor;
    .new-traning-label {
      color: white;
    }
  }
}
.new-traning-vector-2 {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.new-traning-label {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 84px;
  font-weight: 500;
  font-style: italic;
  margin: 0;
  line-height: 85px;
}

.new-traning-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.new-traning-counter {
  position: relative;
  border-radius: 16px;
  padding: 20px;
  background: white;
  margin: 30px 0 0;
  &-header {
    position: relative;
  }

  &-header-title {
    text-align: right;
    font-weight: bold;
    font-size: 85px;
    line-height: 85px;
    font-style: italic;
  }

  .page-button-back {
    position: absolute;
    top: 10px;
    left: 0;
  }

  .new-traning-vector-2 {
    position: absolute;
    bottom: 10px;
    left: 0;
  }

  &-button {
    width: 72px;
    height: 72px;
  }
}
.new-traning-counter-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  margin: 45px 0 0;
}

.new-traning-counter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 38px;
  background: $accentColor;
  border: 3px solid $accentColor;
  border-radius: 8px;

  &.empty {
    background: transparent;
  }
}

.new-traning-counter--medium {
  background: $pink-lighten;

  .new-traning-counter-button {
    background: white;
    border: 3px solid white;
    color: $pink-darken;

    &.empty {
      background: transparent;
    }
  }

  .new-traning-counter-header-title {
    color: white;
  }

  .page-button-back {
    color: white;
  }
}

.new-traning-counter--hard {
  background: $accentColor;

  .new-traning-counter-button {
    background: white;
    border: 3px solid white;
    color: $pink-darken;

    &.empty {
      background: transparent;
    }
  }

  .new-traning-counter-header-title {
    color: white;
  }

  .page-button-back {
    color: white;
  }
}

.new-traning-counter--faceplac {
  background: transparent;
  .new-traning-counter-buttons {
    margin: 0;
  }
}

.italic {
  font-style: italic;
}

.new-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0;
  flex-wrap: wrap;
}

.col-2 {
  .new-button {
    width: 49%;
  }
}

.new-button {
  display: block;
  width: 100%;
  bottom: 30px;
  left: 30px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  padding: 18px 8px;
  text-align: center;
  background: $accentColor;
  text-decoration: none;
  color: white;
  margin: 0 0 10px;

  &.fs-18 {
    font-size: 18px;
  }

  &.fs-20 {
    font-size: 20px;
  }

  &:focus-visible {
    outline: none;
  }
}

.new-typical--getfile {
  background: white;
  min-height: 210px;

  .new-typical-label {
    color: $accentColor;
    left: 18px;
    top: 18px;
    font-size: 24px;
    line-height: 26px;
  }
  .new-typical-image {
    bottom: -141px;
    position: absolute;
    right: -100px;
  }
}

.page-materials {
  background: $accentColor;
  min-height: 100vh;

  .page-button-back {
    color: white;
  }
  .page-title {
    color: white;
  }

  .new-button-wrapper {
    margin: 30px 0 0;
  }
}

.new-button-alt {
  position: relative;
  text-align: left;
  background: #ffffff;
  color: $pink-darken;
  left: 0;
  padding: 18px;
  bottom: unset;

  &:after {
    content: "";
    position: absolute;
    display: block;
    right: 18px;
    top: calc(50% - 10px);
    width: 22px;
    height: 20px;
    background: url("../images/dist/vector-9.svg") no-repeat center/cover;
  }
}

.new-trial {
  margin: 24px 0 0;
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: $pink-darken;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 32px;
    text-align: center;
    border-radius: 16px;
    min-height: 63px;
    padding: 15px 0 12px;
    font-family: "BebasNeueBold", san-serif;
  }
}

.closed {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/dist/close.svg") no-repeat center/35px;
  }
}

.new-traning-counter {
  .new-traning-counter-button {
    &.closed {
      background: rgba(224, 83, 105, 0.5);
      border-color: rgba(224, 83, 105, 0.5);
    }
  }
  &--medium .new-traning-counter-button {
    &.closed {
      background: rgba(255, 255, 255, 0.5);
      border-color: rgba(255, 255, 255, 0.5);
    }
  }
  &--hard .new-traning-counter-button {
    &.closed {
      background: rgba(255, 255, 255, 0.5);
      border-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.new-button.closed {
  left: 0;
  bottom: 0;
  background: rgba(224, 83, 105, 0.5);

  &:after {
    width: 35px;
    top: 0;
    left: 20px;
  }
}

.new-button.locked {
  left: 0;
  bottom: 0;
  background: rgba(224, 83, 105, 0.5);

  &:after {
    width: 35px;
    top: 0;
    left: 20px;
  }
}

.page-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.page-subtitle {
  color: $grayColor;
  font-size: 20px;
  margin: 0 0 0 16px;
}
.button-wrapper {
  margin: 16px 0;
}
.page-calendar {
  background-color: white;
}
.new-calendar-wrapper {
  .days {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
  }
  .day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14%;
    height: 50px;
    font-size: 14px;
    text-decoration: none;
    color: $grayColor2;

    &.name {
      color: $pink-darken;
    }

    &.gray {
      color: rgba($grayColor2, 0.4);
    }

    &.weekend {
      color: $accentColor;
    }

    &.active {
      color: white;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 29px;
        height: 29px;
        background: $accentColor;
        margin: 0 auto;
        border-radius: 100%;
      }
    }

    &.italic {
      color: $pink-darken;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 29px;
        height: 29px;
        border: 1px dashed $pink-darken;
        margin: 0 auto;
        border-radius: 100%;
      }
    }
  }
}

.group-title {
  font-size: 18px;
  color: $grayColor2;
}

.mt-20 {
  margin-top: 20px;
}
.page-indicator-row {
  display: flex;
  margin: 8px 0 0;
}
.indicator {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  margin: 3px 8px 0 0;

  color: $grayColor;

  &--lock {
    background: $pink-lighten;
  }

  &--done {
    background: $accentColor;
  }
}

.indicator-text {
  color: $grayColor;
  margin: 0;
}

.new-tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;

  .new-button {
    font-size: 12px;
    height: 34px;
    padding: 9px 8px;
    margin: 0 5px;
    color: $grayColor;

    background: transparent;
    border: 1px solid $accentColor;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      color: white;
      background-color: $accentColor;
    }
  }
}
