.photo {
  position: relative;
  padding: 40px 0;

  &-dumbbells {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 197px;
  }

  &-wrapper {
    position: relative;
    margin: 32px 0 0;
    text-align: center;
    z-index: 4;
  }

  .camera-1 {
    position: absolute;
    top: 100px;
    right: 60px;
    width: 64px;
    z-index: 4;
  }

  .camera-2 {
    position: absolute;
    left: 0;
    position: absolute;
    top: 150px;
    width: 74px;
  }

  .power-emoji {
    position: absolute;
    top: 50px;
    left: 120px;
    width: 50px;
  }
  .photo-1 {
    position: absolute;
    width: 87px;
    top: 50px;
    right: 129px;
    z-index: 1;
  }
  .photo-2 {
    position: absolute;
    right: 70px;
    width: 82px;
    top: 42px;
    z-index: 2;
  }
  .photo-3 {
    position: absolute;
    right: 3px;
    top: 57px;
    width: 77px;
    z-index: 3;
  }
}
