.program {
  position: relative;
  padding: 40px 0;

  &-dumbbells {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 197px;
  }

  &-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 0;
    z-index: 2;

    .base-btn {
      margin: 3px 3px;
      width: 23.5%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.two-columns {
      .base-btn {
        width: 48%;
      }
    }
  }
}
