.wof {
  max-width: 530px;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: unset;

  &-btn {
    display: block;
    width: 320px;
    min-height: 70px;
    font-family: "AeroportBold", sans-serif;
    text-transform: uppercase;
    background-color: white;
    color: #e15369;
    border-radius: 28px;
    font-size: 25px;
    border: 4px solid #e15369;
    padding: 0;
    margin: 35px auto 0;
    cursor: pointer;
  }
}

.wof-title {
  text-align: center;
  margin: 15px 0 50px;
  font-size: 25px;

  b {
    background: #e15369;
    color: white;
    border: 4px;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 30px;
  }
}

.wof-wheel {
  position: relative;
  width: 415px;
  height: 415px;
  margin: 0 auto;
}

.wof-container {
  padding: 25px 15px 0;
  max-width: 100%;
}

.wof-wheel__container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/dist/wheel-of-fortune.png") no-repeat center/100%;
    z-index: 2;
  }
}

.wof-wheel__segment {
  position: absolute;
  left: 50%;
  top: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0 100%;
}

.wof-wheel__arrow {
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  width: 56px;
  height: 77px;
  margin: 0 auto;
  background: url("../images/dist/wheel-of-fortune-pointer.png") no-repeat
    center;
  z-index: 2;

  &.is-spinning {
    animation: tick 700ms cubic-bezier(0.34, 1.56, 0.64, 1);
  }
}

.wof-wheel__label {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 50%;
  transform-origin: 0 100%;
}
.wof-wheel__segment {
  background: #fb5f77;
}
.wof-wheel__segment:nth-child(1) {
  background: #fb5f77;
}

.wof-wheel__segment:nth-child(2) {
  background: #f8415e;
}
.wof-wheel__segment:nth-child(3) {
  background: #fe4470;
}

.wof-wheel__segment:nth-child(4) {
  background: #e0537d;
}
.wof-wheel__segment:nth-child(5) {
  background: #f1425d;
}

.wof-wheel__segment:nth-child(6) {
  background: #fc3b7f;
}

.wof-wheel__label-text {
  position: absolute;
  left: -98px;
  top: 60px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  color: white;
}

.wof-segment__image {
  width: 60px;
  height: 60px;
}

@keyframes tick {
  40% {
    transform: rotate(-12deg);
  }
}
.timer-container {
  display: none;
  color: #e15369;
  font-family: AeroportBold, sans-serif;
  margin: 25px 0;
  font-size: 25px;
  text-align: center;
}
#timer {
  border: 4px solid #e15369;
  border-radius: 28px;
  text-align: center;
  max-width: 160px;
  margin: 10px auto 0;
}
