// USER VARIABLES SECTION

$fontsize: 16px // Body Font Size
$userfont: 'ProximaNovaRegular', sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family

// Bootstrap compatible gutter variable => $gutter
// $grid-gutter-width: 30px
// $gutter: $grid-gutter-width

// IMPORT SECTION

// @import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/_utilities.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fwoff2, $fwoff, $fttf) 
	@font-face
		font-family: $fname
		font-display: swap
		src: url($fttf) format('truetype')
		src: url($fwoff2) format('woff2')
		src: url($fwoff) format('woff')
		
@include font('ProximaNovaRegular', '../fonts/ProximaNovaRegular.woff2', '../fonts/ProximaNovaRegular.woff', '../fonts/ProximaNovaRegular.ttf',)
@include font('ProximaNovaLight', '../fonts/ProximaNovaLight.woff2', '../fonts/ProximaNovaLight.woff', '../fonts/ProximaNovaLight.ttf',)
@include font('ProximaNovaBold', '../fonts/ProximaNovaBold.woff2', '../fonts/ProximaNovaBold.woff', '../fonts/ProximaNovaBold.ttf',)

// GENERAL CSS SETTINGS
body
	font-family: $userfont
	font-size: $fontsize
	color: #FFFFFF
	min-width: 320px
	position: relative
	overflow-x: hidden
	padding: 0
	margin: 0
	background: #0B0F12

.page
	max-width: 400px
	margin: 0 auto
	padding: 0 14px 105px
	overflow: hidden

*
	box-sizing: border-box

h1, h2, h3, h4, h5, h6
	font-family: 'ProximaNovaRegular', sans-serif